body{
    background-color: rgb(17,17,17);
    margin: 10vh 20vw 10vh 20vw;
}

.main-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
}

@media (max-width: 700px) {
    .main-body{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10vh;
    }

    .inner-body{
        height: 50vh;
    }
}

.inner-body{
    height: 80vh;
    background-color: rgb(27,27,27);
    overflow: scroll;
}

.inner-inner-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: lightgray;
    
    
}

.inner-body:hover{
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
}

img{
    width: max(11vw,100px);
   
}

.img-1{
    padding: 10px 10px 10px 10px;
}

.text{
    color: #006400;
    font-weight: bold;
    font-size: max(2vw,16px);
    text-align: center;
    padding-top: 10px;
    
}

.text1{
    color: white;
    font-weight: 300;
    font-size: max(1.1vw,12px);
    text-align: center;
    padding: 10px 0px 10px 0px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 10px;
}

.text2{
        color: white;
        font-weight: 300;
        font-size: max(1.1vw,12px);
        margin-left: 1vw;
        padding-bottom :10px;
}

.img2{
    width: 100%;
    height: 35vh;
}

#heading{
    color: white;
    padding: 0;
    margin: 0;
    margin-left: 1vw;
}

.wrapper{
    height: 100%; /* Make sure the wrapper takes the full height of the parent */
    overflow: auto; /* Enable scrolling within the wrapper */
    padding: 10px;
}