.text{
    color: white;
    font-weight: bold;
    font-family: "Tiny5", sans-serif;
    font-size: 27px;
    margin-right: 15vw;
}

.text1{
    color: white;
    font-weight: bold;
    font-family: "Tiny5", sans-serif;
    font-size: max(0.5vw,24px);
    margin-left: 3vw;
    text-decoration: none;
    
}

.text1:hover{
    color:rgb(42,194,67);
    cursor: pointer;
}


.header{
    display: flex;
    background-color: rgb(27,27,27);
    border-radius: 20px;
    margin-bottom: 20px;
}

img{
    height: 100px;
}

.header-left{
    display: flex;
    margin: left 5vw;
    align-items: center;
    padding-left: 20vw;
}

.para{
    width: 10vw;
}
